@import url("https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Humnst777 Blk BT Black Italic";
    src: url(./assets/fonts/38b7667861f7e65e8be6d217385b2c79.woff)
      format("woff");
  }
}

html {
  scroll-behavior: smooth;
}
